@{
    ViewBag.Title = "Home Page";
}

<section>
    <div>
        <hr />
    </div>
    <div class="gallerybox">
        <h5 class="text-center">
            Here's where you'd say something about the business.
        </h5>
    </div>
    <div class="catCard text-md-left">
        <ul>
            <li class="offset-1">
                <h4>Best Prices and Service</h4>
                <h6>
                    <i>Here's where you say something about that up there.</i>
                </h6>
            </li>
        </ul>
    </div>
    @*<div>
        <img src="~/Images/depositphotos_2103960-stock-photo-peanut-processing-plant.jpg" width="1110" height="800"/>
    </div>*@
</section>