@{
    ViewBag.Title = "About Us";
}


<div class="container about">
    <div>
        <h2 style="text-align:center">About Us</h2>
        <hr />
    </div>
    N.V. Harris & Associates has been providing quality Computer and Data solutions since our founding in 2009.
    It is our mission to Provide Cost effective Computer Solutions. We believe the best way to achieve this goal
    is to face the issues with integrity and a positive attitude

    <h2>Company Owner</h2>
    Vincent Harris has over 12 years of Information Technology experience.  He is a Microsoft Certified Professional.
    <h2>Lead Developer</h2>
    With over 20 years of Software Development experience, Stuart Mayhew is the one that does all the work.
</div>
