@{
    ViewBag.Title = "About Us";
}


<div class="container about">
    <div>
        <h2 style="text-align:center">About Us</h2>
        <hr />
    </div>
    

    <h2>Sales, Marketing and Project Development</h2>
    Our principal Vincent Harris has years of experience in designing, installing and operating just about every type of system imaginable. Vincent has provided his expertise to Brabner and Hollon, Hill and Brooks Coffee Company, and Warranty Corporation just to name a few. He has served as an Information Technology Manager, Director of Information Systems and as a Senior Systems Analyst. In addition, Vincent hired and oversaw instructors for technical training institutes.
    @*<h2>Lead Developer</h2>
    Our With over 20 years of Software Development experience, Stuart Mayhew .*@
</div>
