@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="container">
        <div class="gallerybox">
            <h4 class="text-center">
                <strong>N. V. Harris & Associates, Inc.</strong> is the premier providers of Information Technology. Our goal is to provide you the very best in service.<br />

                @* Our quality control standards are high. Our Associates are among the best in the business. Our goal is always to deliver cost effective solutions. Your satisfaction is of paramount importance.*@
            </h4>
            </div>
            <div class="col-sm-8 offset-2 catCard">
                <ul class="ulcatCard">
                    <li class="offset-1">
                        <h4>Ecommerce websites</h4>
                        <h6>
                            <i>Let us build your shopping cart,including order fullfilment</i>
                        </h6>
                    </li>
                    <li class="offset-1">
                        <h4>Websites and Web Hosting</h4>
                        <h6>
                            <i>Custom websites and hosting at affordable prices</i>
                        </h6>
                    </li>

                    <li class="offset-1">
                        <h4>Email Solutions</h4>
                        <h6>
                            <i>Affordable Email with your domain</i>
                        </h6>
                    </li>
                    <li class="offset-1">
                        <h4>Custom Windows Applications</h4>
                        <h6>
                            <i>Desktop Applications including Quickbooks Integration</i>
                        </h6>
                    </li>
                    <li class="offset-1">
                        <h4>Networking</h4>
                        <h6>
                            <i>Let us design and install your network</i>
                        </h6>
                    </li>
                    <li class="offset-1">
                        <h4>Server Installation</h4>
                        <h6>
                            <i>We can help you decide which Server is best for you, local or Cloud based</i>
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
</section>