@model NVHarris.Models.Users

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
</head>
<body>
    <div class="text-center">
        <h2>@Model.Company</h2>
        <h3>Thank you for registering with us.</h3>
        <h5>You will be notified when you are approved to login. Please keep the password you selected safe!</h5>
        @Html.ActionLink("Click here to return to the Home Page", "Index", "Home", null, null)
    </div>
</body>
</html>
